<component name="ArtifactManager">
  <artifact type="war" name="spring-temlpate:war">
    <output-path>$PROJECT_DIR$/../spring-temlpate/target</output-path>
    <root id="archive" name="springdemo.war">
      <element id="artifact" artifact-name="spring-temlpate:war exploded" />
    </root>
  </artifact>
</component>